/* styles.css */
.nav {
	height: 100%;
}
.sidebar-nav {
	width: 300px;
}
.sidebar-nav > .sidebar-brand {
  font-size: 30px;
  height: 50px;
  line-height: 40px;
}
.brand-text {
	font-family: "Times New Roman";
}